mule4-choice/src/main/mule/mule4-enricher.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:core="http://www.mulesoft.org/schema/mule/core" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
	http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	
	<flow name="enricher-example">
		<scheduler doc:name="Scheduler">
			<scheduling-strategy>
				<fixed-frequency frequency="5" timeUnit="SECONDS" />
			</scheduling-strategy>
		</scheduler>

		<set-payload value="#[1]" />

		<flow-ref name="target-system" target="myVar" targetValue="#[payload.value]" />

		<logger level="INFO" message="Payload:: #[payload]" />

		<logger level="INFO" message="myVar:: #[vars.myVar]" />
	</flow>

	<flow name="target-system">
		<set-payload value="#[{value:2}]" />
	</flow>

</mule>
