mule4-core-components/src/main/mule/mule4-scatter-gather.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

	<flow name="schedule-scatter" initialState="stopped">
		<scheduler>
			<scheduling-strategy>
				<fixed-frequency frequency="1000" timeUnit="MILLISECONDS" />
			</scheduling-strategy>
		</scheduler>

		<flow-ref name="scatter-gather-example" doc:name="scatter-gather-example" />
	</flow>

	<flow name="scatter-gather-example">
		<set-payload value="original payload" doc:name="'original payload'" />

		<scatter-gather doc:name="Scatter-Gather">
			<route>
				<flow-ref name="route-1" doc:name="route-1" />
			</route>
			<route>
				<flow-ref name="route-2" doc:name="route-2" />
			</route>
			<!-- 
			<route>
				<flow-ref name="route-3" doc:name="route-3" />
			</route>
			 -->
		</scatter-gather>

		<logger level="INFO" message="Payload: #[payload] Variables: #[vars.myVar]" doc:name="Log payload and variables" />

		<error-handler>
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue">
				<logger level="INFO" message="#[error..payload]" doc:name="Logger" />
			</on-error-continue>
		</error-handler>
	</flow>

	<flow name="route-1">
		<set-payload value="new payload: route-1" doc:name="'new payload: route-1'" />
		<set-variable variableName="myVar" value="route1" doc:name="myVar=route1" />
	</flow>

	<flow name="route-2">
		<set-payload value="new payload: route-2" doc:name="'new payload: route-2'" />
		<set-variable variableName="myVar" value="route2" doc:name="myVar=route2" />
	</flow>
	
	<flow name="route-3">
		<raise-error type="APP:MYERROR" />
	</flow>

</mule>
