mule3-core-components/src/main/app/mule3-enricher.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>


<flow name="enricher-example">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/endpoint" doc:name="HTTP"/>
      <set-payload value="#[1]" doc:name="Set Payload"/>

	<enricher target="#[flowVars.myVar]" doc:name="Message Enricher">
		<flow-ref name="target-system" doc:name="Flow Reference"/>
	</enricher>

	<logger level="INFO" message="Payload:: #[payload]" doc:name="Logger"/>

	<logger level="INFO" message="myVar:: #[flowVars.myVAR]" doc:name="Logger"/>
</flow>

<flow name="target-system">
	<set-payload value="2" doc:name="Set Payload"/>
</flow>




</mule>
